$BACKGROUND: rgba(255,255,255,1);
$TEXT-BACKGROUND: rgba(255,255,255,1);

$FAMILY-SANS: 'Raleway', 'Arial';

$TEXT-BASE: rgba(0,0,0,1);
$TITLE-COLOR: lighten($TEXT-BASE, 10%);
$TEXT-COLOR: lighten($TEXT-BASE, 20%);

$LINK-COLOR: $TITLE-COLOR;
$LINK-COLOR-VISITED: $LINK-COLOR;
$LINK-COLOR-HOVER: lighten($LINK-COLOR, 50%);

$TITLE-SIZE: 2.2vw;
$TEXT-SIZE: 1.6vw;
$LINK-SIZE: 1.7vw;

$MENU-BACKGROUND-COLOR: rgba(255,255,255,1);
$MENU-TEXT-COLOR: rgba(40,40,40,1);
$MENU-TEXT-HOVER-COLOR: lighten($MENU-TEXT-COLOR, 40%);

$MENU-TITLE-SIZE: 1.1rem;
$MENU-SUBTITLE-SIZE: 1.1rem;
$MENU-ITEM-SIZE: 1rem;

$MENU-WIDTH: 400px;
$MENU-ITEM-SPACING: 4px;

$TRANSITION-PERIOD: 0.1s;
$RESPONSIVE-SPACING: 2vw;
