---
---

@import 'constants';

html {
  font-size: 18px;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

s {
  text-decoration:line-through;
}

a {
  font: 900 $LINK-SIZE $FAMILY-SANS;
  color: $LINK-COLOR;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  transition: color $TRANSITION-PERIOD linear;

  &:visited {
    color: $LINK-COLOR-VISITED;
  }

  &:hover {
    color: $LINK-COLOR-HOVER;
  }
}

body {
  display: flex;
  flex-direction: row;

  font: normal $TEXT-SIZE $FAMILY-SANS;
  word-spacing: 3px;

  margin: 0;
  padding: 0;
  min-height: 100vh;

  background-color: $BACKGROUND;
  color: $TEXT-COLOR;
}

#navbar {
  display: block;
  box-sizing: border-box;
  z-index: 20;

  background-color: $MENU-BACKGROUND-COLOR;

  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  max-width: $MENU-WIDTH;
  min-height: 100vh;
  padding: 2%;

  transition: left 0.5s ease-in-out;

  a {
    display: block;
  }

  .hide-menu {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    padding: 8px;
  }

  .menu-item {
    padding-bottom: $MENU-ITEM-SPACING;

    font-size: $MENU-TITLE-SIZE;
    font-weight: 900;
    color: $MENU-TEXT-COLOR;
    text-transform: none;

    &:visited {
      color: $MENU-TEXT-COLOR;
    }

    &:hover {
      color: $MENU-TEXT-HOVER-COLOR;
    }
  }

  .menu-title {
    padding-bottom: 4 * $MENU-ITEM-SPACING;
    font-size: $MENU-TITLE-SIZE;
  }

  .menu-subtitle {
    padding-top: 4 * $MENU-ITEM-SPACING;
    font-size: $MENU-SUBTITLE-SIZE;

    &:hover {
      color: $MENU-TEXT-COLOR;
    }
  }

  .menu-item-post, .menu-item-page {
    font-size: $MENU-ITEM-SIZE;
    font-weight: normal;
    line-height: 1;
    margin: 8px 0;
  }
}

#navbar.hidden {
  left: -100%;
}

#navbar.shown {
  left: 0;
}

.show-menu {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  padding: 16px 8px;
}

#main-div {
  display: block;
  box-sizing: border-box;
  width: 70%;
  margin: $RESPONSIVE-SPACING auto;
}

#post {
  display: block;
  position: relative;
  box-sizing: border-box;

  width: 90%;

  padding: $RESPONSIVE-SPACING;
  margin: 0 auto;
  background-color: $TEXT-BACKGROUND;

  box-shadow: 8px 8px 32px $TEXT-COLOR;
  border-radius: 10px;

  .post-title {
    font: bold $TITLE-SIZE $FAMILY-SANS;
    color: $TITLE-COLOR;
    text-transform: uppercase;
    text-align: center;
  }

  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 78vh;
    border-radius: 5px;
  }
}

.home-image {
  background-image: url({{ site.baseurl }}/assets/covers/homecover.jpg);
  background-position: right center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 56vh;
}

#swipebox-gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  .swipebox {
    width: 20%;
    margin: 24px 5px 0;
  }
}

.video-wrapper-16x9 {
  padding-bottom: 56.25%;
}

.video-wrapper {
  position: relative;
  margin: 1rem auto;
  height: 0;
  overflow: hidden;

  iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.post-rotate {
  transform: rotate(-10deg);
}
